<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExcelJs</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    
    <script src="file-ctrl.js"></script>

    
</head>
<body >

    <div class="container">
        <h3>RESTful - File Manager</h3>
        <div ng-app="app" ng-controller="ctrl">
            <label >
                Upload Files:
                <input type="file" accept="image/*" multiple
                        onchange="angular.element(this).scope().upload(this.files)">
            </label>
            <hr>
            <label ng-repeat="filename in filenames" title="Double click to delete">
                <img ng-src="{{url(filename)}}" ng-dblclick="delete(filename)" alt="" width="100px">
            </label>
        </div>
    </div>

    
</body>
</html>