<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Scopes &amp; Parameters</h3>
    <ul>
        <li>A - Model: <b>[[${a}]]</b> </li>
        <li>B - Request: <b>[[${b}]]</b>  </li>
        <li>C - Session:<b>[[${session.c}]]</b> </li>
        <li>D - Application:<b>[[${application.d}]]</b> </li>
        <li>X - Parameters: <b>[[${param.x}]]</b> </li>
    </ul>
    <a href="scope?x=FPT Polytechnic">poly</a>
</body>
</html>