<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav th:replace="~{/html_so6/security/_menu :: nav}"></nav>
    <hr>
    <h2 th:text="${message}"></h2>
    <hr>
    <h3 th:unless="${#request.remoteUser}">Chưa đăng nhập</h3>
    <hr>
    <ul th:if="${#request.remoteUser}">
        <li th:if="${#request.isUserInRole('ADMIN')}">Admin</li>
        <li th:if="${#request.isUserInRole('USER')}">User</li>
        <li th:if="${#request.isUserInRole('GUEST')}">Guest</li>
    </ul>
    
</body>
</html>